:root {
  --primaryblue: rgba(0, 51, 86, 1);
  --primaryorange: rgba(247, 147, 30, 1);
  --textmedium: rgba(0, 27, 46, 0.58);
  --textdark: rgba(0, 24, 41, 1);
  --heading: rgba(0, 109, 184, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --text-small-normal-font-family: "Roboto-Regular", Helvetica;
  --text-small-normal-font-weight: 400;
  --text-small-normal-font-size: 14px;
  --text-small-normal-letter-spacing: 0px;
  --text-small-normal-line-height: 150%;
  --text-small-normal-font-style: normal;
  --text-small-link-font-family: "Roboto-Regular", Helvetica;
  --text-small-link-font-weight: 400;
  --text-small-link-font-size: 14px;
  --text-small-link-letter-spacing: 0px;
  --text-small-link-line-height: 150%;
  --text-small-link-font-style: normal;
  --header-shadow: 0px 2px 14px 0px rgba(0, 24, 41, 0.11);
  --card-shadow: 0px 4px 22px 0px rgba(222, 231, 237, 1);
  --color-collection-for-health-website-color-2: rgba(255, 255, 255, 1);
  --button-button-fills-white: rgba(255, 255, 255, 1);
}
